<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="net.mooncloud.moonbook.repository.book.BookPaymentCategoryDao">

	<insert id="insertIgnore" parameterType="BookPaymentCategory"
		useGeneratedKeys="true" keyProperty="id">
		INSERT IGNORE INTO
		`book_payment_category`
		(`pid`, `pname`, `cid`, `cname`,
		`syn`, `created`, `updated`, `status`)
		VALUES (
		#{pid},
		#{pname},
		#{cid},
		#{cname},
		#{syn},
		#{created},
		#{updated},
		#{status}
		)
	</insert>

	<insert id="insertUpdate" parameterType="BookPaymentCategory"
		useGeneratedKeys="true" keyProperty="id">
		INSERT IGNORE INTO
		`book_payment_category`
		(`pid`, `pname`, `cid`, `cname`,
		`syn`,
		`created`,
		`updated`, `status`)
		VALUES (
		#{pid},
		#{pname},
		#{cid},
		#{cname},
		#{syn},
		#{created},
		#{updated},
		#{status}
		)
		ON DUPLICATE
		KEY
		UPDATE
		pname=VALUES(pname),cname=VALUES(cname),syn=VALUES(syn),updated=VALUES(updated),status=VALUES(status)
	</insert>

	<!-- 删除 -->
	<delete id="deletePid">
		DELETE FROM
		`book_payment_category`
		WHERE
		pid=#{0}
	</delete>

	<!-- 删除 -->
	<delete id="delete">
		DELETE FROM
		`book_payment_category`
		WHERE
		pid=#{0} AND
		`cid`=#{1}
	</delete>

	<update id="update" parameterType="BookPaymentCategory">
		UPDATE
		`book_payment_category`
		SET `pid`=#{pid}, `pname`=#{pname},
		<if test="cid>0">
			`cid`=#{cid}, `cname`=#{cname},
		</if>
		`syn`=#{syn}, `updated`=#{updated}, `status`=#{status}
		WHERE
		`pid`=#{pid}
		<if test="cid>0">
			AND `cid`=#{cid}
		</if>
	</update>
</mapper> 
