<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper
	namespace="net.mooncloud.moonbook.repository.payment.UserPaymentCategoryDao">

	<insert id="insertIgnore" parameterType="UserPaymentCategory"
		useGeneratedKeys="true" keyProperty="id">
		INSERT IGNORE INTO
		`user_payment_category`
		(`userid`, `pid`, `pname`, `cid`, `cname`,
		`count`,
		`syn`, `created`, `updated`, `status`)
		VALUES (
		#{userid},
		#{pid},
		#{pname},
		#{cid},
		#{cname},
		#{count},
		#{syn},
		#{created},
		#{updated},
		#{status}
		)
	</insert>

	<insert id="insertUpdate" parameterType="UserPaymentCategory"
		useGeneratedKeys="true" keyProperty="id">
		INSERT IGNORE INTO
		`user_payment_category`
		(`userid`, `pid`, `pname`, `cid`, `cname`,
		`count`,
		`syn`, `created`, `updated`, `status`)
		VALUES (
		#{userid},
		#{pid},
		#{pname},
		#{cid},
		#{cname},
		#{count},
		#{syn},
		#{created},
		#{updated},
		#{status}
		)
		ON DUPLICATE
		KEY
		UPDATE
		pname=VALUES(pname),cname=VALUES(cname),syn=VALUES(syn),updated=VALUES(updated),status=VALUES(status)
	</insert>

	<insert id="incrementalUpdateCount" parameterType="UserPaymentCategory"
		useGeneratedKeys="true" keyProperty="id">
		INSERT IGNORE INTO
		`user_payment_category`
		(`userid`, `pid`, `pname`, `cid`, `cname`,
		`count`,
		`syn`, `created`, `updated`, `status`)
		VALUES (
		#{userid},
		#{pid},
		#{pname},
		#{cid},
		#{cname},
		#{count},
		#{syn},
		#{created},
		#{updated},
		#{status}
		)
		ON DUPLICATE
		KEY
		UPDATE
		count=count+VALUES(count),syn=VALUES(syn),updated=VALUES(updated)
	</insert>

	<!-- 删除 -->
	<delete id="deletePid">
		DELETE FROM
		`user_payment_category`
		WHERE
		`userid`=#{0}
		AND pid=#{1}
	</delete>

	<!-- 删除 -->
	<delete id="delete">
		DELETE FROM
		`user_payment_category`
		WHERE
		`userid`=#{0}
		AND pid=#{1} AND
		`cid`=#{2}
	</delete>

	<update id="update" parameterType="UserPaymentCategory">
		UPDATE
		`user_payment_category`
		SET `pid`=#{pid}, `pname`=#{pname},
		<if test="cid>0">
			`cid`=#{cid}, `cname`=#{cname},
		</if>
		`syn`=#{syn}, `updated`=#{updated}, `status`=#{status}
		WHERE
		`userid`=#{userid}
		AND `pid`=#{pid}
		<if test="cid>0">
			AND `cid`=#{cid}
		</if>
	</update>
</mapper> 
