<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="net.mooncloud.moonbook.repository.payment.UserPaymentDetailDao">

	<insert id="insertUpdate" parameterType="UserPaymentDetail"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		`user_payment_detail`
		(`detailid`, `userid`, `thedate`, `year`,
		`month`,`date`, `day`,
		`hour`,
		`minute`,
		`second`, `time`, `latitude`,
		`longitude`, `address`,
		`pid`,
		`cid`,
		`mid`, `sid`, `money`,
		`comment`, `curlat`, `curlon`,
		`syn`,
		`created`,
		`updated`, `status`)
		VALUES (
		#{detailid},
		#{userid},
		#{thedate},
		#{year},
		#{month},
		#{date},
		#{day},
		#{hour},
		#{minute},
		#{second},
		#{time},
		#{latitude},
		#{longitude},
		#{address},
		#{pid},
		#{cid},
		#{mid},
		#{sid},
		#{money},
		#{comment},
		#{curlat},
		#{curlon},
		#{syn},
		#{created},
		#{updated},
		#{status}
		)
		ON DUPLICATE KEY
		UPDATE
		thedate=VALUES(thedate),year=VALUES(year),month=VALUES(month),date=VALUES(date),day=VALUES(day),
		hour=VALUES(hour),minute=VALUES(minute),second=VALUES(second),time=VALUES(time),
		latitude=VALUES(latitude),longitude=VALUES(longitude),address=VALUES(address),
		pid=VALUES(pid),cid=VALUES(cid),mid=VALUES(mid),sid=VALUES(sid),money=VALUES(money),
		comment=VALUES(comment),curlat=VALUES(curlat),curlon=VALUES(curlon),
		syn=VALUES(syn),updated=VALUES(updated),status=VALUES(status)
	</insert>

	<insert id="insertIgnore" parameterType="UserPaymentDetail"
		useGeneratedKeys="true" keyProperty="id">
		INSERT IGNORE INTO
		`user_payment_detail`
		(`detailid`, `userid`, `thedate`, `year`,
		`month`, `date`, `day`,
		`hour`, `minute`,
		`second`, `time`, `latitude`,
		`longitude`, `address`,
		`pid`, `cid`,
		`mid`, `sid`, `money`,
		`comment`,
		`curlat`, `curlon`,
		`syn`, `created`,
		`updated`, `status`)
		VALUES (
		#{detailid},
		#{userid},
		#{thedate},
		#{year},
		#{month},
		#{date},
		#{day},
		#{hour},
		#{minute},
		#{second},
		#{time},
		#{latitude},
		#{longitude},
		#{address},
		#{pid},
		#{cid},
		#{mid},
		#{sid},
		#{money},
		#{comment},
		#{curlat},
		#{curlon},
		#{syn},
		#{created},
		#{updated},
		#{status}
		)
	</insert>

	<!-- 删除 -->
	<delete id="delete" parameterType="Long">
		DELETE FROM
		`user_payment_detail`
		WHERE
		detailid=#{0}
	</delete>

	<select id="get" parameterType="Long" resultType="UserPaymentDetail">
		SELECT * FROM
		`user_payment_detail`
		WHERE
		detailid=#{detailid}
	</select>

	<update id="update" parameterType="UserPaymentDetail">
		UPDATE
		`user_payment_detail`
		SET `userid`=#{userid},`thedate`=#{thedate},
		`year`=#{year},
		`month`=#{month}, `date`=#{date},`day`=#{day},
		`hour`=#{hour},
		`minute`=#{minute},
		`second`=#{second}, `time`=#{time},
		`latitude`=#{latitude},
		`longitude`=#{longitude},
		`address`=#{address},
		`pid`=#{pid},
		`cid`=#{cid}, `mid`=#{mid},
		`sid`=#{sid},
		`money`=#{money},
		`comment`=#{comment},
		`curlat`=#{curlat},
		`curlon`=#{curlon},
		`syn`=#{syn},
		`updated`=#{updated},
		`status`=#{status} WHERE
		(`detailid`=#{detailid})
	</update>

	<select id="search" resultType="UserPaymentDetail">
		SELECT ${query}
	</select>

</mapper> 
